<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="インボイス番号検索ツール.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <インボイス番号検索ツール.Properties.Settings>
            <setting name="AutoUpdaterServerFolderPath" serializeAs="String">
                <value>\\sms002\99システム室_文書\3_プログラム\C#\配布\インボイス番号検索ツール</value>
            </setting>
            <setting name="AutoUpdaterProjectFileName" serializeAs="String">
                <value>インボイス番号検索ツール.exe</value>
            </setting>
            <setting name="AutoUpdaterOldProjectFileName" serializeAs="String">
                <value>インボイス番号検索ツール.old</value>
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="StrCustomColors" serializeAs="String">
                <value />
            </setting>
            <setting name="UnZipperDefaultPath" serializeAs="String">
                <value>\\dev001\C$\data\適格請求書発行事業者公開データ取込\*</value>
            </setting>
        </インボイス番号検索ツール.Properties.Settings>
    </userSettings>
</configuration>